:root{

}

.jumbotron{
    display: flex;
    align-items: flex-end;
    padding: 10rem 2rem 1rem;
}

.display-1{
    margin: 0px;
}

.jumbotron h3{
    font-size: 16px;
}

ul{
    margin-top:1rem;
    padding-inline-start: 20px;
    list-style-type: none;
}

li{
    display: flex;
}

li p{
    margin-left: 5px;
    font-style: italic;
}

a, a:hover{
    text-decoration: none;
    color:inherit;
}

.card{

}

.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
}

.card-title{
    margin-bottom: 0px;
}

.card-text{
    color:gray;
}

.category{
    margin-bottom:0px;
    font-weight:bold;
}

.skills{
    font-size: small;
}

.card img{
    height:179.45px;
    object-fit: cover;
    object-position: top;
}

.buttons{
    text-align: right;
}

#skills{
    margin: 0rem;
    background-color: #a68fbf;
}

footer{
    background-color: #e9ecef;
    display: flex;
    justify-content: flex-end;
}

footer a{
    padding:2rem;
    margin-bottom: 0px;
}

footer a:hover{
    color:black;
}

@media only screen and (max-width: 600px){

    #projects{
        padding-left: 21px;
    }

}
