:root{

}

.jumbotron{
    display: flex;
    align-items: flex-end;
    padding: 5rem 2rem 1rem;
}

.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 0 20%;
}

.display-1{
    margin: 0px;
}

.jumbotron h3{
    font-size: 16px;
    margin-top:1em;
}



#contact-me{
    margin-top: 1em;
}

ul{
    margin-top:1rem;
    padding-inline-start: 20px;
    list-style-type: none;
}

li{
    display: flex;
}

li p{
    margin-left: 5px;
    font-style: italic;
}

a, a:hover{
    text-decoration: none;
    color:inherit;
}

.card{
    width: 100%;
}

.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.card-title{
    margin-bottom: 0px;
}

.card-text{
    color:gray;
}

.category{
    margin-bottom:0px;
    font-weight:bold;
}

.category{
    font-size: 18px;
}

.card img{
    height:179.45px;
    object-fit: cover;
    object-position: top;
}

.buttons{
    /* text-align: right; */
}

#skills{
    margin: 0rem;
    background-color: #a68fbf;
}

footer{
    background-color: #e9ecef;
    display: flex;
    justify-content: flex-end;
}

footer a{
    padding:2rem;
    margin-bottom: 0px;
}

footer a:hover{
    color:black;
}

@media (max-width: 991.98px) {
    .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 757.98){
    .card-container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 575.98px){

    #projects{
        padding:5vw;
    }

    .jumbotron{
        padding:5vw;
    }

    .jumbotron .container {
        padding: 0px;
    }

    .card-container{
        grid-template-columns: 1fr;
    }

    .card-container .card{
        width: 100%;
    }

}
