.jumbotron{
    display: flex;
    align-items: flex-end;
    padding: 10rem 2rem 1rem;
}

.display-1{
    margin: 0px;
}

.jumbotron h5{
    font-style: italic;
}

ul{
    margin-top:1rem;
    padding-inline-start: 20px;
    list-style-type: none;
}

li{
    display: flex;
}

li p{
    margin-left: 5px;
    font-style: italic;
}

a, a:hover{
    text-decoration: none;
    color:inherit;
}

.card{
    margin: 1rem;
}

.container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card-title{
    margin-bottom: 0px;
}

.card-text{
    color:gray;
}

.category{
    margin-bottom:0px;
    font-weight:bold;
}

.skills{
    font-size: small;
}

.card img{
    height:179.45px;
    object-fit: cover;
    object-position: top;
}

.buttons{
    text-align: right;
}

footer{
    background-color: var(--light);
    display: flex;
    justify-content: flex-end;
}

footer a{
    padding:2rem;
    margin-bottom: 0px;
}

footer a:hover{
    color:black;
}
